* {
  box-sizing: border-box;
}

/* بداية سهام  */
nav {
  background-color: #f0f0f0;
  padding: 10px;
    text-align: center;
}

nav a {
  margin: 0 10px;
  color: #333;
  font-weight: bold;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f9fb;
}

.page {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* ===== يسار الصفحة ===== */
.image-section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 100%;
  max-width: 800px;
}

/* ===== يمين الصفحة ===== */
.content-section {
  width: 50%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-section h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #000;
}

/* الأزرار */
.option-btn {
  width: 90%;
  padding: 22px;
  margin-bottom: 25px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, #1aa3a8, #1e8f92);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.option-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.2);
}

.option-btn {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  font-size: 22px;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  background: linear-gradient(90deg, #2dafb4, #2fb2b6);

  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: background 0.3s ease, transform 0.2s ease;
}

/* مع  الماوس */
.option-btn:hover {
  background: linear-gradient(90deg, #177376, #1b7c80);
  transform: translateY(-3px);
}

  footer {
      margin-top: 50px;
      padding: 20px;
      background-color: #eee;
      font-size: 14px;
      color: #333;
    }

/* بداية سهام  */
